In [183]:
import gnupg
import pandas as pd
import numpy as np

In [184]:
# Specify the paths to the GPG binary and public key file
gpg_binary_path = '/path/to/GPGdirectory/gpg.exe'  #for security reasons not providing my real paths here

In [185]:
public_key_path = '/path/to/home/directory/.gnupg/pubring.kbx'

In [186]:
# Initialize GPG object
gpg = gnupg.GPG(gpgbinary=gpg_binary_path)

In [187]:
# Read CSV file into DataFrame
df = pd.read_csv('weather_2022-02.csv')

In [188]:
# Define function to decrypt field
def decrypt_field(encrypted_data):
    decrypted_data = gpg.decrypt(encrypted_data)
    return decrypted_data.data.decode('utf-8')

In [189]:
df.head()

,2022-02-01T00:00:00Z,TA_PT1H_AVG,-----BEGIN PGP MESSAGE-----\r\n\r\nhQGMAxfy52wY3vU5AQwAp9TEI3yRCs1f4+V0iYtWnSmtJquSm2jF+N3L1TKH98GM\r\nMXFFw6Wm4SJnR1ZRaVncsNpjX+WQrE3u2pkl6gIl0McgPFLvwgskE9paFfwpVAxS\r\njBDCqpk28eo3tWtRRXQBvW8H2HoTN5j+dAYukLi6Vofo6Q0HnmwHINgGQfA7FRJ1\r\nJDcXHNolLICrVGdwzWKcXKBVjAPwtDJd1MBjzXySsToaO56KbC2ercGCjhlwrXVt\r\nUHdwZcFYyFDfJVt/Ms5n5vVjSI8Xt/cUEwnWTIzKLLCt1FgLxOeARNyEqxMlW/u/\r\nlcFF/TEbCWAnrEpryZpfuVYC7XOI1tLw5gOl5GGvmxWAQ2FW/pLdANKmtjD8FKvh\r\nTXdjeUXPAAH9jVZwo2a/gaIJrutKiXxSlCUTOrBxFj+zpWH2fbzl/0AyxRpWIwaX\r\nrt8Hux9DVy+pj1J1vpCegMa41e1FfNOehAAEu95veF1Iro7PEFpJ4XVmPkwUkbcv\r\nuqrCrb1jpe0LMvJPz51f0j8B1PmD18rFX9Fv7WaMc6Oz2uK9QqowgUc8qVC4ke3w\r\nqvwiJZh/0ttqH3hfch7tCdhBr+BVqkxNE/ZQKZnGM+s=\r\n=tujR\r\n-----END PGP MESSAGE-----\r\n
0,2022-02-01T00:00:00Z,TA_PT1H_MAX,-9.1
1,2022-02-01T00:00:00Z,TA_PT1H_MIN,-9.3
2,2022-02-01T00:00:00Z,RH_PT1H_AVG,86.0
3,2022-02-01T00:00:00Z,WS_PT1H_AVG,2.5
4,2022-02-01T00:00:00Z,WS_PT1H_MAX,3.0

In [190]:
# Iterate through each column in the DataFrame
for column in df.columns:
    # Check if any cell in the column starts with '-----BEGIN PGP MESSAGE-----'
    if df[column].apply(lambda x: isinstance(x, str) and x.startswith('-----BEGIN PGP MESSAGE-----')).any():
        # Modify the column name to "Value"
        df.rename(columns={column: 'Value'}, inplace=True)

In [191]:
df.head()

   2022-02-01T00:00:00Z  TA_PT1H_AVG Value
0  2022-02-01T00:00:00Z  TA_PT1H_MAX  -9.1
1  2022-02-01T00:00:00Z  TA_PT1H_MIN  -9.3
2  2022-02-01T00:00:00Z  RH_PT1H_AVG  86.0
3  2022-02-01T00:00:00Z  WS_PT1H_AVG   2.5
4  2022-02-01T00:00:00Z  WS_PT1H_MAX   3.0

In [192]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   2022-02-01T00:00:00Z  7787 non-null   object
 1   TA_PT1H_AVG           7787 non-null   object
 2   Value                 5816 non-null   object
dtypes: object(3)
memory usage: 182.6+ KB

In [193]:
df.dtypes

2022-02-01T00:00:00Z    object
TA_PT1H_AVG             object
Value                   object
dtype: object

In [194]:
df.head()

   2022-02-01T00:00:00Z  TA_PT1H_AVG Value
0  2022-02-01T00:00:00Z  TA_PT1H_MAX  -9.1
1  2022-02-01T00:00:00Z  TA_PT1H_MIN  -9.3
2  2022-02-01T00:00:00Z  RH_PT1H_AVG  86.0
3  2022-02-01T00:00:00Z  WS_PT1H_AVG   2.5
4  2022-02-01T00:00:00Z  WS_PT1H_MAX   3.0

In [195]:
#checking are NaN values in datframe and how many
df.isna().sum()

2022-02-01T00:00:00Z       0
TA_PT1H_AVG                0
Value                   1971
dtype: int64

In [196]:
# Convert 'Value' column to float64 data type before dropping NaN values
df['Value'] = pd.to_numeric(df['Value'], errors='coerce')

# Convert '2022-02-01T00:00:00Z' column to datetime
df['2022-02-01T00:00:00Z'] = pd.to_datetime(df['2022-02-01T00:00:00Z'])

# Group by the datetime column to extract hour
df['Hour'] = df['2022-02-01T00:00:00Z'].dt.hour

#dropping any NaN values from dataframe
df.dropna(inplace=True)
df.head()

       2022-02-01T00:00:00Z  TA_PT1H_AVG  Value  Hour
0 2022-02-01 00:00:00+00:00  TA_PT1H_MAX   -9.1     0
1 2022-02-01 00:00:00+00:00  TA_PT1H_MIN   -9.3     0
2 2022-02-01 00:00:00+00:00  RH_PT1H_AVG   86.0     0
3 2022-02-01 00:00:00+00:00  WS_PT1H_AVG    2.5     0
4 2022-02-01 00:00:00+00:00  WS_PT1H_MAX    3.0     0

In [197]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5170 entries, 0 to 7785
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   2022-02-01T00:00:00Z  5170 non-null   datetime64[ns, UTC]
 1   TA_PT1H_AVG           5170 non-null   object
 2   Value                 5170 non-null   float64
 3   Hour                  5170 non-null   int32
dtypes: datetime64[ns, UTC](1), float64(1), int32(1), object(1)
memory usage: 181.8+ KB

In [198]:
valid_values = df
valid_values.head()

       2022-02-01T00:00:00Z  TA_PT1H_AVG  Value  Hour
0 2022-02-01 00:00:00+00:00  TA_PT1H_MAX   -9.1     0
1 2022-02-01 00:00:00+00:00  TA_PT1H_MIN   -9.3     0
2 2022-02-01 00:00:00+00:00  RH_PT1H_AVG   86.0     0
3 2022-02-01 00:00:00+00:00  WS_PT1H_AVG    2.5     0
4 2022-02-01 00:00:00+00:00  WS_PT1H_MAX    3.0     0

In [200]:
valid_values = valid_values[valid_values['TA_PT1H_AVG'] == 'TA_PT1H_AVG']
valid_values.head()

        2022-02-01T00:00:00Z  TA_PT1H_AVG  Value  Hour
11 2022-02-01 01:00:00+00:00  TA_PT1H_AVG   -9.4     1
35 2022-02-01 03:00:00+00:00  TA_PT1H_AVG  -10.6     3
59 2022-02-01 05:00:00+00:00  TA_PT1H_AVG  -11.1     5
71 2022-02-01 06:00:00+00:00  TA_PT1H_AVG  -10.9     6
83 2022-02-01 07:00:00+00:00  TA_PT1H_AVG  -11.7     7

In [201]:
#checkink now if NaN values have been remove from dataframe
valid_values.isna().sum()

2022-02-01T00:00:00Z    0
TA_PT1H_AVG             0
Value                   0
Hour                    0
dtype: int64

In [202]:
valid_values.info()

<class 'pandas.core.frame.DataFrame'>
Index: 427 entries, 11 to 7775
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   2022-02-01T00:00:00Z  427 non-null    datetime64[ns, UTC]
 1   TA_PT1H_AVG           427 non-null    object
 2   Value                 427 non-null    float64
 3   Hour                  427 non-null    int32
dtypes: datetime64[ns, UTC](1), float64(1), int32(1), object(1)
memory usage: 15.0+ KB

In [203]:
#Confirm that are non Nan values in valid_values
valid_values.isna().sum()

2022-02-01T00:00:00Z    0
TA_PT1H_AVG             0
Value                   0
Hour                    0
dtype: int64

In [204]:
valid_values.dtypes

2022-02-01T00:00:00Z    datetime64[ns, UTC]
TA_PT1H_AVG                          object
Value                               float64
Hour                                  int32
dtype: object

In [205]:
valid_values.head()

        2022-02-01T00:00:00Z  TA_PT1H_AVG  Value  Hour
11 2022-02-01 01:00:00+00:00  TA_PT1H_AVG   -9.4     1
35 2022-02-01 03:00:00+00:00  TA_PT1H_AVG  -10.6     3
59 2022-02-01 05:00:00+00:00  TA_PT1H_AVG  -11.1     5
71 2022-02-01 06:00:00+00:00  TA_PT1H_AVG  -10.9     6
83 2022-02-01 07:00:00+00:00  TA_PT1H_AVG  -11.7     7

In [206]:
valid_values.tail()

          2022-02-01T00:00:00Z  TA_PT1H_AVG  Value  Hour
7715 2022-02-27 19:00:00+00:00  TA_PT1H_AVG   -0.1    19
7727 2022-02-27 20:00:00+00:00  TA_PT1H_AVG   -0.4    20
7739 2022-02-27 21:00:00+00:00  TA_PT1H_AVG   -0.8    21
7751 2022-02-27 22:00:00+00:00  TA_PT1H_AVG   -0.7    22
7775 2022-02-28 00:00:00+00:00  TA_PT1H_AVG   -1.5     0

In [207]:
print(valid_values['Hour'].unique())

[ 1  3  5  6  7  8  9 10 11 13 16 18 19 20 21 22  2 17 23  0 12 14 15  4]

In [208]:
# Calculate the temperature differences for each hour
temperature_difference = valid_values.groupby('Hour')['Value'].apply(lambda x: x.max() - x.min())

In [209]:
temperature_difference

Hour
0     22.0
1     19.6
2     18.6
3     18.7
4     17.6
5     19.4
6     19.3
7     19.1
8     17.8
9     18.3
10    17.5
11    16.9
12    15.9
13    11.5
14    15.1
15    16.3
16    17.8
17    20.9
18    22.2
19    21.9
20    22.6
21    25.3
22    21.3
23    23.1
Name: Value, dtype: float64

In [210]:
# Calculate the average of the temperature differences
average_difference = temperature_difference.mean()
average_difference

19.1125

In [211]:
# Calculate the standard deviation of the temperature differences
std_dev_difference = temperature_difference.std()
std_dev_difference

2.999465532100822

In [212]:
# Calculate the upper and lower bounds
upper_bound = average_difference + 0.8 * std_dev_difference
upper_bound

21.512072425680657

In [213]:
lower_bound = average_difference - 0.8 * std_dev_difference
lower_bound

16.712927574319345

In [214]:
# Filter temperature differences within the bounds
within_bounds = temperature_difference[(temperature_difference >= lower_bound) & (temperature_difference <= upper_bound)]
within_bounds

Hour
1     19.6
2     18.6
3     18.7
4     17.6
5     19.4
6     19.3
7     19.1
8     17.8
9     18.3
10    17.5
11    16.9
16    17.8
17    20.9
22    21.3
Name: Value, dtype: float64

In [215]:
# Calculate the percentage of temperature differences within the bounds
percentage_within_bounds = (within_bounds.count() / temperature_difference.count()) * 100
percentage_within_bounds

58.333333333333336

In [216]:
within_bounds_count = within_bounds.count()
within_bounds_count

14

In [217]:
# Total count of temperature differences
total_count = len(temperature_difference)
total_count

24